html *{
    box-sizing: border-box;
}

header {
  text-align: center;
}

body{
    font: 20px "times new roman", times, serif;
    margin: 0;
    padding: 0;
}

#wrapper {
  display: flex;
  flex-flow: column;
}

.row {
  display: flex;
  flex-flow: row;
}

#page-nav,
#page-aside {
     flex: 0 25%;
}

main {
    flex: 1 50%;
}
