* {
    background-color: white;
    font-family: tahoma, genvea, sans-serif;
}

#wrapper {
    max-width: 1000px;
    left: 1000px;
}

.navbar {
background-color: rgb(58,58,58);
}

img {
    width: 10%;
}

h1 {
    text-align: center;
    background-color: rgb(58,58,58);
    color: lightgray;
}

a {
    color: lightgray;
    background-color: rgb(58,58,58);
}

#nav {
    text-align: center;
    color: rgb(58,58,58);
    background-color: rgb(58,58,58);
}

.content {
    position: relative;

}

.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}


#footer {
    position: relative;
    text-align: center;
    background-color: rgb(58,58,58);
    color: lightgray;
}

li{
    background-color: rgb(58,58,58);
}


ul {
  list-style-type: none;
    background-color: rgb(58,58,58);    background-color: rgb(58,58,58);
}
