h1 {
    text-align: center;
}

#nav {
    text-align: center;
    color: rgb(58,58,58)
}

#footer {
    text-align: center;
}

ul {
  list-style-type: none;
}

.navbar {
    p
}

* {
    background-color: white;
}
