* {
    background-color: white;
    font-family: tahoma, genvea, sans-serif;
}

.wrapper {
    display:flex;
    flex-flow: column;
    min-height: 100vh;
}

.navbar {
    text-align: center;
}


.content {
    display: flex;
    flex-flow: column;
    flex; 1;
    flex-wrap: wrap;
    align-items: center;
}

h1 {
    background-color: rgb(58,58,58);
    color: lightgray;
    padding: 0;
    margin: 0;
}

.table  {
    border-collapse:collapse;
    border-spacing:0;
    border-color:#aaa;
    text-align: center;
}

.table td {
    font-family:Arial, sans-serif;
    font-size:16px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#aaa;
    color:#333;
    background-color:#fff;
}

.table th {
    font-family:Arial, sans-serif;
    font-size:16px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#aaa;
    color:#fff;
}

.table td {
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#aaa;
    color:#333;
    background-color:#fff;
}

.table th {
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#aaa;
    color:#fff;
    background-color:#f38630;
}


.table .info {
    vertical-align:top
}

.table .infoBold {
    font-weight:bold;
    vertical-align:top;
}

a {
    color: lightgray;
    background-color: rgb(58,58,58);
}

#nav {
    color: rgb(58,58,58);
    background-color: rgb(58,58,58);
}

#mobile {
    max-width: 30%;
}

#tablet{
    max-width: 40%;
}
#desktop {
    max-width: 60%;
}
#footer {
    background-color: rgb(58,58,58);
    color: lightgray;
    text-align: center;
}

li{
    background-color: rgb(58,58,58);
}


ul {
  list-style-type: none;
    background-color: rgb(58,58,58);
    margin-left: 0px;
    padding: 0px;
}

/************************************MOBILE*************************************************/
@media (max-width: 425px){
    .table {
        display: none;
    }
    #desktop, #tablet {
        display: none;
    }
}


/************************************TABLET***************************************************/

    @media (min-width: 425px)
            and (max-width: 768px) {
       #desktop, #mobile {
        display: none;
        }
    }
/*************************************LARGE LAPTOP****************************************/

@media (min-width:768px)
        and (max-width: 4000px) {

            #mobile, #tablet {
        display: none;
        }

            h1 {
                font-size: 55px;
            }

            a {font-size:20px;}
    }
