@font-face {
    font-family: 'geometria_light';
    src: url(../fonts/geometria-light-webfont.eot?#iefix) format("embedded-opentype");
    font-weight: normal;
    font-style: normal;

}

html {
    height: 100%;
    width: 100%
}
html body {
    background-color: #f2f2f2;
    height: 100%;
    overflow-x: hidden;
    font-family: geometria_light, Helvetica, Arial, sans-serif;
    font-size: 16px;
    position: relative;
}


#header-bar {
     position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  text-align: right;
}

/*
#header-bar div.container {
     background: #fff;
  height: 100%;
  padding: 1px;
  text-align: left;
}
*/

#header-bar div.container button {
     margin-left: 20px;
}

#header-bar button {
    border-color: #2fba7e;
  background: #43dd9e;
}

#header-bar a.btn {
     color: #2fba7e;
}

.content h1,
div.container h1,
html body div.jumbotron div.container h1 {
    color: #555;
    font-family: geometria_lightlight, Helvetica-Neue, Helvetica, Arial, sans-serif;
    font-size: 48px;
    margin-bottom: 25px;
    margin-top: 0;
    text-align: center;
}

.content h2,
div.container h2,
html body div.jumbotron div.container h2 {
    color: #555;
    font-family: geometria_lightlight, Helvetica-Neue, Helvetica, Arial, sans-serif;
    font-size: 30px;
    margin-bottom: 25px;
    margin-top: 0;
    text-align: center;
}

div.section {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center
}

#about {
    background: #fff;
    color: #888;
  min-height: 600px;
    height: 100vh;
    margin-bottom: 0;
    padding: 100px 0 0;
    position: relative;
    width: 100%
}

#about span img {
    width: 60px;
    display: inline-block;
    margin-top: -24px;
    margin-right: 2px
}

#about h1 {
    display: inline-block;
    letter-spacing: 2px
}

#logo-container,
.formwrap {
    text-align: center
}

.form {
    text-align: center;
    padding: 20px
}

.form a.emailButton {
    background: #F15856;
    border: transparent;
    color: #fff;
    padding: 15px 50px;
    width: 150px;
    border-radius: 0
}

.form .emailButton:hover {
    text-decoration: none;
    background: #F96B6B
}

#learn-more {
    bottom: 10px;
    color: #555;
    cursor: pointer;
    font-size: 1.5em;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%
}

#learn-more div {
    margin: 0 auto;
    position: relative;
    width: 200px
}

#learn-more i {
    font-size: 1.5em;
    position: relative;
    top: 3px
}

#learn-more:hover {
    color: #F15856
}

div#solution {
    background: #F15856;
    color: #fff
}

div#solution div#waveImg img {
    width: 80px
}

div#solution div#waveImg {
    margin-bottom: 40px
}

div#solution h1 {
    color: #fff
}

div#imgdiv {
    background: #fff
}

div#imgdiv div.row img {
    max-width: 100%
}

div#me img {
    width: 250px;
    max-width: 100%;
    margin-bottom: 20px
}

div#me p {
    margin-bottom: 20px
}

div#bottom-signup {
    background: #fff;
}

footer {
    background: #282B3D;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #fff;
    text-align: center
}

footer ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin-bottom: 50px
}

footer ul li {
    display: inline;
    margin: 0 20px
}

footer ul li a i {
    font-size: 30px;
    color: #fff
}

footer ul li a i:hover {
    color: #e2e2e2
}

footer p {
    margin-top: 50px;
    font-size: 12px;
    margin-bottom: 0
}

footer div#donateButton a img,
footer div#donateButton input[type=image] {
    width: 200px;
    margin-top: 10px
}

footer ul#share li>div {
    display: inline-block
}

footer ul#share li div.lidiv {
    height: 70px;
    width: 60px;
    position: relative
}

footer ul#share li div.lidiv>div {
    position: absolute;
    left: 0
}

/*-----------------------------Media Queries-------------------------*/

/*------------Mobile-------------*/
@media (min-width: 768px) {
    div#logo-container {
        text-align: center;
        position: relative;
        top: 35%;
        transform: translateY(-50%)
    }
    .content h1,
    div.container h1,
    html body div.jumbotron div.container h1 {
        font-size: 48px
    }
    .content h2,
    div.container h2,
    html body div.jumbotron div.container h2 {
        font-size: 30px
    }
}

/*---------------Desktop and Tablet-------------*/
@media (max-width: 767px) {

    #about {

    padding: 50px 0 0;

}



    div#about div#logo-container div.row div.form a.button {

      padding-left: 15px;
      padding-right: 15px;
      font-size: 14px;
    }

    footer ul#social li {
        margin: 0 10px
    }
    .content h1,
    div.container h1,
    html body div.jumbotron div.container h1 {
        font-size: 38px!important
    }
    .content h2,
    div.container h2,
    html body div.jumbotron div.container h2 {
        font-size: 20px
    }
    div#about span img {
        width: 45px;
        margin-top: -20px
    }
    div#logo-container {
        text-align: center;
        position: relative;
        top: 10%;
        transform: translateY(-15%)
    }
}
